.dialog-box {
  width: 450px;
  max-width: 95vw;
  max-height: 300px;
  background-color: #C3C7CB;

  display: flex;
  flex-flow: column;
  pointer-events: all;

  &.overlay {
    &::before {
      content: "";
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      opacity: 0.5;
      z-index: -1;
    }
  }



  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-inline: 10px;
    margin-bottom: 50px;

    .icon {
      width: 20%;
      height: 100%;

      img {
        object-fit: contain;
        width: 50%;
      }
    }

    .message {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      width: 80%;
    }

    .content-body {
      display: flex;
      flex-flow: column;
      gap: 15px;
      width: fit-content;

      &:has(.radio-button-set) {
        margin-left: 20%;
      }

      .radio-button-set {
        display: flex;
        flex-flow: column;
        gap: 10px;
        width: 100%;
      }


    }
  }

  .actions {
    width: 100%;
    margin-bottom: 20px;

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;


    }
  }
}